.title {
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
    font-weight: 700;
    color: #2c3e50;
}
.form-container { 
    padding: 2rem; 
    border-radius: 12px; 
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    width: 80%;
    background: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 990px;
    margin: 0 auto;
}

.field {
    display: flex;
    flex-direction: column;
}

.field-full {
    grid-column: 1 / -1;
}

label {
    font-size: 1.1rem;
    color: #1d1d1e;
    align-self: flex-start;
}

input[type="number"] {
    width: 97%;
    padding: 0.9rem 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 0.8rem;
    transition: border-color 0.3s ease;

}

input[type="date"], input[type="time"]{
    width: 92%;
    padding: 0.75rem 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 0.8rem;
    transition: border-color 0.3s ease;
}

button {  
    padding: 0.75rem 1.5rem;
    border-color: #000000;
    border-radius: 8px;
    box-sizing: border-box;
}



button[type="submit"] {
    padding: 0.75rem 1.5rem;
    background-color: #031c36;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    grid-column: 1 / -1;
}

.details-container {
    margin-top: 3rem;
    width: 80%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 100%;
    overflow-x: auto;
    text-align: center;
}

td, th{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #414243;
    color: white;
}
