body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.title {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(3, 64, 105);
}
.description {
    font-size: 1em;
    margin-left: 20px;
    color: #666;
}
.section-container {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.subtitle {
    margin-left: 50px;
    font-size: 1.3em;
    margin-bottom: 15px;
    color: rgb(60, 60, 58); 
}
.cards-container {
    display: flex;
    gap: 20px;
    margin: 20px 10px 20px 20px;
    flex-wrap: wrap;
}
.card {
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #dedddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.card h3 {
    margin-top: 0;
    color: rgb(88, 90, 89);
}

.card p {
    color: #555;
}

.icon-class {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: rgb(80, 88, 105);
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    justify-content: space-between;
}
.acordion-container {
    margin: 20px 50px 20px 50px;
}

details {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0.5rem;
}

details:hover {
  box-shadow: 2px 2px 2px 1px #e6e6e6;
}

summary {
  font-size: 1.2rem;
  font-weight: bold;
  color:#5e5454;
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
}