.container{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form-container{
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    margin-top: 20px;
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;    
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.notification {
    font-size:12px;
}  

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}